img{
   width: 30%;
   height: 300px;
   float: left; /* To get rid of the white space */
   margin: 1.6%
}
p{
   font-family: Raleway;
   margin-left: 1.6%;
   font-size: 23px;
   font-weight: 800;
   text-transform: uppercase;
   border-bottom: 3px solid #f1f1f1;
   width: 30%;
   padding-bottom: 20px; 
}